@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
  font-family: 'Inter', Arial;
  line-height: 1.5em;
  color: #404040;
  font-weight: 400;
  font-size: 16px;
}

body .nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
  color: #d0d0d0;
}

body .nav span {
  color: #202020;
  display: inline-block;
  padding: 0px 32px;
}

body .nav a {
  display: inline-block;
  padding: 0px 32px;
}

body .contents {
  max-width: 800px;
  padding: 16px;
  margin: 0px auto;
  margin-top: 48px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: #101010;
}

strong {
  font-weight: 600;
  color: #202020;
}

code {
  background-color: #fed;
  color: #e93;
  display: inline-block;
  border-radius: 3px;
  font-size: 1.0em;
  line-height: 1.4em;
  padding: 0em 0.4em;
  vertical-align: middle;
  margin: 0em 0.2em;
}

a:link, a:visited, a:active {
  color: #36f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body .docs {
  max-width: 800px;
  padding: 16px;
  margin: 0px auto;
  margin-top: 48px;
}

body .docs .methods-list {
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 64px;
}

body .docs .method {
  margin-top: -1px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 64px;
}

body .docs .method .method-name a {
  display: inline-block;
  padding-top: 64px;
  font-size: 20px;
  font-weight: 700;
  color: #202020;
}

body .docs .method .method-description {
  margin: 16px;
  padding: 0px 16px;
  border-left: 4px solid #d0d0d0;
}

body .docs .method .method-param,
body .docs .method .method-returns {
  padding: 8px;
}

body .docs .method .method-returns {
  margin-left: 16px;
  margin-top: 16px;
  border-left: 4px solid #f0f0f0;
}

body .docs .method .method-returns:before {
  content: 'returns';
  display: inline-block;
  font-weight: 600;
}

body .docs .method .param-type {
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 4px 8px;
  margin-right: 4px;
}

body .docs .method .param-name {
  font-weight: 700;
  color: #202020;
  margin-right: 4px;
}

@media screen and (max-width: 800px) {

  body .nav {
    padding-top: 4px;
    font-size: 12px;
    display: block;
    text-align: center;
  }

  body .docs .methods-list {
    grid-template-columns: 1fr 1fr;
  }

}
